@model SICIApp.Entities.CONT_FACTURA

@{
    ViewBag.Title = "Factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Factura</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("PacientesActivos", "Contabilidades")">Pacientes</a>
            </li>
            <li>
                <a href="@Url.Action("PagosPendientes", "Contabilidades", new {IDINGRESO=@Model.CONT_CODOTALONARIO.CONT_TALONARIO.INGRESO.ID })">Pagos Pendientes</a>
            </li>
            <li class="active">
                <strong>Factura</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">            
            <a href="@Url.Action("ImprimirFactura", "Contabilidades", new { IDCODO = @Model.CONT_CODOTALONARIO.ID })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir Factura </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content p-xl">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>De:</h5>
                        <address>
                            <strong>ABAC, Proyecto Victoria, Org.</strong><br>
                            Col. Las Palmas,  600/10<br>
                            Tegucigalpa, Honduras<br>
                            <abbr title="Telefonos">Tel:</abbr> (504) 2222-2222
                        </address>
                    </div>

                    <div class="col-sm-6 text-right">
                        <h4>Talonario y cuota No.</h4>
                        <h4 class="text-navy">@Model.CONT_CODOTALONARIO.CONT_TALONARIO.ID - @Model.CONT_CODOTALONARIO.ID</h4>
                        <span>Para:</span>
                        <address>
                            <strong>@Model.CONT_CODOTALONARIO.CONT_TALONARIO.INGRESO.FICHA.PRIMERNOMBRE @Model.CONT_CODOTALONARIO.CONT_TALONARIO.INGRESO.FICHA.PRIMERAPELLIDO.</strong><br>
                            @Model.CONT_CODOTALONARIO.CONT_TALONARIO.INGRESO.FICHA.DATOSPERSONALES1.DIRECCIONDOMICILIO<br>
                            @Model.CONT_CODOTALONARIO.CONT_TALONARIO.INGRESO.FICHA.DATOSPERSONALES1.CITY.NAME<br>
                            <abbr title="Phone">Tel.:</abbr> (@Model.CONT_CODOTALONARIO.CONT_TALONARIO.INGRESO.FICHA.DATOSPERSONALES1.CITY1.COUNTRYCODE) @Model.CONT_CODOTALONARIO.CONT_TALONARIO.INGRESO.FICHA.DATOSPERSONALES1.TELEFONOMOVIL
                        </address>
                        <p>
                            <span><strong>Fecha de Factura:</strong> @DateTime.Now.ToString()</span><br />
                            <span><strong>Fecha Caducidad:</strong> @Model.CONT_CODOTALONARIO.FECHAAPAGAR.ToString()</span>
                        </p>
                    </div>
                </div>

                <div class="table-responsive m-t">
                    <table class="table invoice-table">
                        <thead>
                            <tr>
                                <th>Detalle factura</th>
                                <th>Cantidad</th>
                                <th>Valor Cuota</th>
                                <th>ISV</th>
                                <th>Valor Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div><strong>Pago de @Model.CONT_CODOTALONARIO.CONT_TIPOCONCEPTOPAGO.NOMBRE</strong></div>
                                    <small>@Model.DESCRIPCION</small>
                                </td>
                                <td>1</td>
                                <td>@Model.VALORPAGADO</td>
                                <td>--</td>
                                <td>@Model.VALORPAGADO</td>
                            </tr>                           

                        </tbody>
                    </table>
                </div><!-- /table-responsive -->

                <table class="table invoice-total">
                    <tbody>
                        <tr>
                            <td><strong>Sub Total :</strong></td>
                            <td>@Model.VALORPAGADO</td>
                        </tr>
                        <tr>
                            <td><strong>ISV :</strong></td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td><strong>TOTAL :</strong></td>
                            <td>@Model.VALORPAGADO</td>
                        </tr>
                    </tbody>
                </table>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.IDCODO)
                    @Html.HiddenFor(model => model.DESCRIPCION)
                    @Html.HiddenFor(model => model.ESTADO)
                    @Html.HiddenFor(model => model.FECHACREACION)
                    @Html.HiddenFor(model => model.NUMEROENFISICO)
                    @Html.HiddenFor(model => model.VALORPAGADO)
    <div class="text-right">
        <button type="submit" class="btn btn-primary"><i class="fa fa-dollar"></i> Realziar el Pago</button>
    </div>
                }
                
                

                <div class="well m-t">
                    <strong>Comentarios</strong>
                    Isaísas 53:3-4
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
