@model IEnumerable<SICIApp.Models.APARATOSSISTEMAS_SISTEMASMODEL>

@{
    ViewBag.Title = "Aparatos Sistemas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Aparatos Sistemas</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Configuraciones","Index")
            </li>
            <li class="active">
                <strong>Aparatos Sistemas</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de Aparatos Sistemas</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Nuevo Aparato Sistema", "NuevoAparatoSistema", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
			@Html.ActionLink("Detalles", "DetalleAparatoSistema", new { ID=item.ID }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Editar", "EditarAparatoSistema", new { ID=item.ID }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



