@model SICIApp.Models.TIPOEVALUACIONMEDICAMODEL

@{
    ViewBag.Title = "Detalle Tipo EvaluacionMedica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalle Tipo Evaluacion Medica</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "TiposEvaluacionesMedicas")
            </li>
            <li class="active">
                <strong>Detalle Tipo Evaluacion Medica</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Tipo Evaluacion Medica</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CATEGORIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "EditarTipoEvaluacionMedica", new { ID = Model.ID }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Todas", "TipoEvaluacionMedica", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













