@model SICIApp.Models.INFORMACIONACADEMICA_OFICIOSMODEL

@{
    ViewBag.Title = "Detalle Oficio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>DetalleOficio</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Oficios")
            </li>
            <li class="active">
                <strong>Detalle Oficio</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Oficio</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBREOFICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBREOFICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCIONOFICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCIONOFICIO)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "EditarOficio", new { ID = Model.ID }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Todos", "Oficios", null, new { @class = "btn btn-white" })

                </div>
            </div>
        </div>
    </div>
 </div>













