@model SICIApp.Models.PRO_CABANIAMODEL

@{
    ViewBag.Title = "Editar Cabaña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Editar Cabaña</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Cabanias")
            </li>
            <li class="active">
                <strong>Editar Cabaña</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Todos", "Cabanias", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>EditarCabaña PRO_CabañaMODEL</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBRE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBRE)
                @Html.ValidationMessageFor(model => model.NOMBRE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESCRIPCION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESCRIPCION)
                @Html.ValidationMessageFor(model => model.DESCRIPCION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CAPACIDAD, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CAPACIDAD)
                @Html.ValidationMessageFor(model => model.CAPACIDAD)
            </div>
        </div>
               

        <div class="form-group">
            @Html.LabelFor(model => model.ACTIVO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ACTIVO)
                @Html.ValidationMessageFor(model => model.ACTIVO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDCENTROTERAPEUTICO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDCENTROTERAPEUTICO", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDCENTROTERAPEUTICO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDNIVEL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDNIVEL", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDNIVEL)
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Cabanias", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
